<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-users"></i> Deudas
      <button class="btn btn-sm btn-success float-right" style="margin-top: 0px;" (click)="modalDebt.show()">Nueva</button>
      <input type="text" class="float-right" placeholder="buscar..." style="height: 27.5px; margin-right: 8px;" (keyup)="filter($event)">
    </div>
    <ngx-datatable class="bootstrap"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10">
      <ngx-datatable-column name="name">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template><span (click)="sort()">Título</span></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ row.name }}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="username">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template><span (click)="sort()">Pagador</span></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ row.username }}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="quantity">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template><span (click)="sort()">Total</span></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ row.quantity }}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="quantity">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template><span (click)="sort()">Deudores</span></ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ row.users.length }}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="id">
        <ng-template let-column="column" ngx-datatable-header-template>Acciones</ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button class="btn btn-sm btn-warning" (click)="modalDebt.show(row)">Modificar</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<modal-debt #modalEvent [api]="api" (reload)="reload()"></modal-debt>