.card > .table {
    margin-bottom: 0px
}

header.navbar .navbar-brand {
    background-size: 130px auto;
}

.sidebar-logout {
    position: absolute !important;
    top: 100%;
    transform: translateY(-100%);
    width: inherit;
    cursor: pointer;
}
